<button class="button-primary icon relative" id="cart-button" onclick="openCart()">
	<svg aria-hidden="true" viewbox="0 0 24 24">
		<use href="/assets/icons/sprite.svg#icon-cart"></use>
	</svg>
	<span id="cart-badge" class="badge button-badge">{{ productCount }}</span>
	<div class="cart-toast" id="cart-toast"></div>
</button>

<div class="modal flex flex-col max-h-md h-full hidden p-4 md:p-6 max-md:rounded-none lg:max-h-[80vh] gap-4 justify-between" id="cart-modal">
	<div class="modal-header">
		<p class="heading">{{ text_cart }}</p>
		<button class="button-secondary icon" onclick="closeCart()">
			<svg aria-hidden="true" viewbox="0 0 24 24">
				<use href="/assets/icons/sprite.svg#icon-close"></use>
			</svg>
		</button>
	</div>

	<div class="flex-1" id="cart-modal-products">
		<div class="skeleton h-full w-full"></div>
	</div>

	<div id="cart-modal-totals">
		<div class="skeleton h-25 w-full rounded-md"></div>
	</div>

	<div class="flex justify-end gap-2" class="modal-footer">
		<button class="button-primary">
			{{ text_checkout }}
		</button>
	</div>
</div>
<div class="modal-overlay hidden" id="cart-overlay" onclick="closeCart()"></div>
