<div class="sheet p-4" data-side="left" id="menu-sheet">
      <div class="sheet-header mb-2">
        <p>{{ text_category }}</p>
        <button class="button-secondary icon" onclick="closeMenu()">
          <svg aria-hidden="true" viewBox="0 0 24 24">
            <use href="/assets/icons/sprite.svg#icon-close"></use> 
          </svg>
        </button>
      </div>
      <hr class="divider" />
      <div class="sheet-content">
        <nav class="flex flex-col gap-2 mt-2">
            {% for category in categories %}
                <a href="{{ category.href }}" class="menu-link">{{ category.name }}</a>
                <hr class="divider" />
            {% endfor %}
        </nav>
      </div>
    </div>
    <div class='sheet-overlay hidden' id="sheet-overlay" onClick='closeMenu()'></div>