<div id="search" class="flex items-center gap-2">
	<input id="search-input" data-language="{{ language }}" type="text" name="search" value="{{ query }}" placeholder="{{ text_search }}" class="input"/>
	<button type="button" id="search-button" class="button-secondary icon">
		<svg aria-hidden="true" viewbox="0 0 24 24">
			<use href="/assets/icons/sprite.svg#icon-search"></use>
		</svg>
	</button>
</div>
