<div id="search" class="flex items-center gap-2">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input" />
    <button type="button" class="button-secondary icon">
        <svg aria-hidden="true" viewBox="0 0 24 24">
            <use href="/assets/icons/sprite.svg#icon-search"></use>
        </svg>
    </button>
</div>
