# Composer / PHP
vendor/
composer.lock

# OpenCart
public_html/system/storage/
public_html/image/cache/
public_html/admin/config.php
public_html/config.php

# Node
node_modules/
*.log

# Docker volumes
data/
docker/phpmyadmin/
docker/mysql/data/

# IDE / OS
.idea/
.vscode/
.DS_Store

# System
*.zip
*.tar.gz
*.env
.env.*
