.prettierrc
.prettierrc.json
.prettierignore
package.json
package-lock.json
tsconfig.json
jsconfig.json
.vscode/
.editorconfig
.env
.env.*

node_modules/
vendor/
dist/
build/
coverage/
storage/
logs/

scripts-min.js
tailwind.css
htaccess
.htaccess

controller/
model/
view/theme/default/
